<%provide :title, "All Posts" %>
<h1>Posts</h1>
<% if logged_in? %>
<p>
  <%= link_to "Create Post", new_user_post_path(current_user.id), class: "btn btn-primary"%>
</p>
<%end%>

<div class="row">
<% @posts.reverse.each do |post|%>
  <%= render partial:'posts/post', locals:{post:post}%>
<%end%>
</div>